* text=auto
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.m text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.csv text eol=lf